# ignore All .log files
*.log

# ignore All pgm files that contains "_output"
*.pgm

# ignore All .o files
*.o

# ignore directories Results
Results/
temp_results/

# ignore pdf file
*.pdf

# ignore executable file as well
p1
p2
p3
p4

# ignore this too.
lcon_
